.justify {
  text-align: justify;
}

h2.underlined {
  border-bottom: 1px solid #999;
}

#members td:first-child {
      width: 64px;
  min-width: 64px;
  max-width: 64px;
  padding-right: 0px;
}

#members p {
  margin-bottom: 0px;
}

.face {
  width: 64px;
  height: 64px;
}

.site-thumb {
  width: 200px;
  height: 150px;
}

a.social {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.li {
  background-image: url('/socialicons/linkedin-48x48.png');
}

.tw {
  background-image: url('/socialicons/twitter-48x48.png');
}

.gp {
  background-image: url('/socialicons/google+-48x48.png');
}

.fb {
  background-image: url('/socialicons/facebook-48x48.png');
}

.st {
  background-image: url('/socialicons/stackoverflow-48x48.png');
}

.vk {
	background-image: url('/img/vk.png');
}

footer {
  border-top: 1px solid #999;
  background: #EEE;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}

footer > p {
  margin: 10px;
}