.face {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  margin-bottom: 5px;
}

a.social {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.li {
  background-image: url('https://raw.github.com/paulrobertlloyd/socialmediaicons/master/linkedin-48x48.png');
}

.tw {
  background-image: url('https://raw.github.com/paulrobertlloyd/socialmediaicons/master/twitter-48x48.png');
}